{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="row">
                    <small>Criado em {{ post.createdAt|date("d/m/y") }}</small>
                </div>
            </div>
            <div class="row">
                <p>
                    {{ post.content|raw }}
                </p>
            </div>
            <div class="row">
                <p>
                    {{ post.description|raw }}
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h3>Comentarios</h3>
                    <hr>
                </div>
                <div class="col-12">
                    <h3>Comentar</h3>
                    <hr>
                    {{ form_start(form, {attr: {action: path('comment_save', {id : post.id }), novalidate: 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-sm btn-success"> enviar</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Sitema de blog
{% endblock %}

